#app
APP_NAME=payment-service
APP_HOST=0.0.0.0
APP_PORT=8000

#db
DB_HOST=db
DB_NAME=payments
DB_USER=payments
DB_PASSWORD=payments
DB_PORT=5432
DATABASE_URL=postgresql+asyncpg://payments:payments@db:5432/payments

#test_db
TEST_DB_HOST=test_db
TEST_DB_NAME=test_payments
TEST_DB_USER=test_payments
TEST_DB_PASSWORD=test_payments
TEST_DB_PORT=5434
TEST_DATABASE_URL=postgresql+asyncpg://test_payments:test_payments@localhost:5434/test_payments

#rabbitMQ
RABBITMQ_HOST=rabbitmq
RABBITMQ_USER=admin
RABBITMQ_PASSWORD=admin
RABBITMQ_PORT=5672
RABBITMQ_ADDITIONAL_ERL="-rabbit disk_free_limit 2147483648"

#additional_params
API_KEY=super-secret-api-key
WEBHOOK_TIMEOUT=5
MAX_RETRIES=3
BACKOFF_BASE_SECONDS=2